body {
  font-family: Poppins;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 1px 1px 0px #eee;
  font-size: 14px;
  padding: 16px 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.navbar a {
  text-decoration: none;
}
.btn-contact {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #1e1e1e;
  color: #fff !important;
}
.navbar .disabled {
  color: #eee !important;
}
#logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 12 0 0;
  align-self: stretch;
}
#hero {
  text-align: center;
  height: 100vh;
  align-items: center;
}
.btn-nwsr {
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #188469;
  background: linear-gradient(101deg, #10a37f 42.15%, #2db191 100.23%);
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.btn-nwsr:hover {
  color: white;
  -webkit-box-shadow: 0px 0px 105px 8px rgba(16, 162, 128, 0.9);
  -moz-box-shadow: 0px 0px 105px 8px rgba(16, 162, 128, 0.9);
  box-shadow: 0px 0px 105px 8px rgba(16, 162, 128, 0.9);
}
#terminal {
  border-radius: 0.5rem;
  background: #2b2c34;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 0.75rem;
  font-family: JetBrains Mono;
}
#container-ava-1 {
  z-index: -1;
}
#ava-1 {
  position: absolute;
  left: 14%;
  top: 35%;
  width: 17rem;
  z-index: -1;
}
#container-ava-2 {
  z-index: -1;
}
#ava-2 {
  position: absolute;
  right: 0%;
  top: 55%;
  z-index: -1;
  width: 40rem;
}
#about {
  padding: 5rem 6.25rem;
  background: linear-gradient(180deg, #fff 0%, #f9f9f9 100%);
}
#about-container {
  padding: 1.5rem 3.125rem;
  border-radius: 1rem;
  background: #2b2c34;
  color: white;
  align-items: center;
}
#about-container h1 {
  margin: 0;
}
#services {
  padding: 3.125rem 6.25rem;
  background: #f9f9f9;
}
#service-container .card {
  border-radius: 0.5rem;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 8px 24px 0px #eee;
}
#service-1:hover {
  border-bottom: solid 0.5rem #10a37f;
  background: linear-gradient(180deg, #fff 0%, #f7fdfb 100%);
  box-shadow: 0px 8px 24px 0px #eee;
  transition: 0.3s ease-in-out;
}
#service-2:hover {
  border-bottom: 0.5rem solid #b490ff;
  background: linear-gradient(180deg, #fff 0%, #fbf9ff 100%);
  box-shadow: 0px 8px 24px 0px #eee;
  transition: 0.3s ease-in-out;
}
#service-3:hover {
  border-bottom: 0.5rem solid #ffb287;
  background: linear-gradient(
    180deg,
    #fff 0%,
    #fffbf9 92.19%,
    rgba(255, 251, 249, 0) 100%
  );
  box-shadow: 0px 8px 24px 0px #eee;
  transition: 0.3s ease-in-out;
}
#service-4:hover {
  border-bottom: 0.5rem solid #3aa4f1;
  background: linear-gradient(180deg, #fff 0%, #f7fbfe 100%);
  box-shadow: 0px 8px 24px 0px #eee;
  transition: 0.3s ease-in-out;
}
.service-icon {
  color: #1e1e1e;
  font-family: JetBrains Mono;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.service-title {
  color: #1e1e1e;
  font-family: JetBrains Mono;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  padding: 1rem 0;
}
.service-desc {
  color: rgba(30, 30, 30, 0.5);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 1rem;
}
.card-body {
  padding: 2.5rem;
}
#projects {
  padding: 3.125rem;
}
.tags-container {
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: flex-start;
  align-self: stretch;
}
.tag-ui {
  padding: 0.25rem 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: #8d59fb;
  color: white;
}
.tag-andro {
  padding: 0.25rem 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: #10a37f;
  color: white;
}
.tag-ios {
  padding: 0.25rem 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: #2b2c34;
  color: white;
}
.tag-web {
  padding: 0.25rem 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: #fb8d4f;
  color: white;
}
#project-container .card-body {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.project-desc {
  padding-top: 1rem;
  color: rgba(43, 44, 52, 0.5);
  text-align: justify;
  font-family: Poppins;
  font-size: 0.865rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.project-title {
  color: #1e1e1e;
  text-align: justify;
  font-family: JetBrains Mono;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.project {
  border-radius: 0.5rem;
  background: #fff;
  padding: 1.5rem;
}
#project-1 {
  border-radius: 1rem;
  background: url(assets/project1.png), lightgray 50% / cover no-repeat;
}
#project-2 {
  border-radius: 1rem;
  background: url(assets/project1.png), lightgray 50% / cover no-repeat;
}
#project-3 {
  border-radius: 1rem;
  background: url(assets/project1.png), lightgray 50% / cover no-repeat;
}
#contact {
  padding: 3.125rem 6.25rem;
  align-items: center;
  justify-content: center;
}
#img-contact {
  width: 30rem;
}
.form-control {
  background-color: #f9f9f9;
}
footer {
  font-family: Poppins;
  background: #2b2c34;
  padding: 3.125rem 6.25rem 0 6.25rem;
}
footer span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}
footer b {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
}
footer a {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
footer a:hover {
  color: #188469;
}
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    position: static;
    padding: 1rem 1rem;
  }
  footer {
    padding: 5rem 2rem 2rem 2rem;
  }
  #contact {
    padding: 2rem 2rem;
  }
  #services {
    padding: 2rem 2rem;
  }
}
@media screen and (max-width: 420px) {
  #about {
    padding: 1rem 1rem;
  }
}
